<!DOCTYPE html>
   <head>
    <title>{{ title }}</title>
    <style type="text/css">

        body {
            padding: 0;
            margin: 0;
        }

        .large_button {
            background-color: red;
            margin: auto 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            text-decoration: none;
        }

    </style>
    </head>
    <body>
        <h1>
            <a href="/press" class="large_button"></a>
        </h1>
    </body>
</html>
